/* == Star == */
.nextStarContainer {
  height: 118px;
  font-family: 'Dancing Script', Roboto, sans-serif;
  font-size: 26px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.nextStar {
  color: black;
  text-transform: none;
  font-family: 'Dancing Script', Roboto, sans-serif;
  font-size: 26px;
}

.nextStar img {
  height: 60px;
}

.nextStarButton:not([disabled]) {
  transform: scale(1);
  animation: pulse 2s infinite;
}

.fallingStar {
  position: absolute;
  top: 0;
  left: calc(50% - 30px);
  height: 60px;
  z-index: 10;
  animation: falling-star 500ms linear infinite;
}

@keyframes falling-star {
    0% { transform: translate(0, 0)        rotate(0deg)    scale(1.1); }
   10% { transform: translate(20px, -20px) rotate(36deg)   scale(1.3); }
   20% { transform: translate(25px, 20px)  rotate(72deg)   scale(1.3); }
   30% { transform: translate(20px, 60px)  rotate(108deg)  scale(1.1);
         opacity: 1; }
   70% { opacity: 1;}
  100% { transform: translate(0, 230px)    rotate(360deg)  scale(0.8);
         opacity: .2; }
}

/* == Jar == */
.jarContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  width: 178.92px;
}

.jarFill {
  width: 100%;
  background-color: hotpink;
  position: absolute;
  bottom: 0;
  transition: all 400ms ease;
  border-top-right-radius: 50% 12px;
  border-top-left-radius: 50% 12px;
}

.jarImg {
  position: absolute;
  height: 100%;
}

.jarStats {
  width: 92px;
  height: 92px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: rgba(255, 255, 255, .5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 26px;
  font-family: 'Dancing Script', Roboto, sans-serif;
}

.collectJar {
  width: 124px;
  height: 124px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: rgba(255, 255, 255, .8);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 21px;
  font-family: 'Dancing Script', Roboto, sans-serif;

  animation: pulse-centered 2s infinite;
}

.jarStats-collected {
  font-size: 30px;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

@keyframes pulse-centered {
  0% { transform: translate(-50%, -50%) scale(1); }
  50% { transform: translate(-50%, -50%) scale(1.1); }
  100% { transform: translate(-50%, -50%) scale(1); }
}